include LICENSE AUTHORS README.rst MANIFEST.in tox.ini .coveragerc CONTRIBUTING.md
recursive-include docs *.txt
recursive-include dbtemplates/locale *
recursive-include dbtemplates/static/dbtemplates *.css *.js
